<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HeDdnsUpdaterService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <HeDdnsUpdaterService.Properties.Settings>
            <setting name="Hostname" serializeAs="String"><!-- The hostname to update -->
                <value>myhostname.example.com</value>
            </setting>
            <setting name="DdnsKey" serializeAs="String"><!-- The key for updating the DDNS record-->
                <value>MyKey</value>
            </setting>
            <setting name="UpdateDelay" serializeAs="String"><!-- The amount of time to wait between update calls -->
                <value>01:00:00</value>
            </setting>
        </HeDdnsUpdaterService.Properties.Settings>
    </userSettings>
</configuration>