<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HeDdnsUpdaterService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.net>
        <settings>
            <!-- .NET thinks that HE returns bad headers, so this must be enabled for the system to work. -->
            <httpWebRequest useUnsafeHeaderParsing="true"/>
        </settings>
    </system.net>
    <system.diagnostics>
        <trace>
            <listeners>
                <add name="HeEventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="HeDdnsUpdater"/>
            </listeners>
        </trace>
    </system.diagnostics>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <applicationSettings>
        <HeDdnsUpdaterService.Properties.Settings>
            <setting name="UpdateDelay" serializeAs="String">
                <value>01:00:00</value>
            </setting>
            <setting name="Hostname" serializeAs="String">
                <value>hostname.example.com</value>
            </setting>
            <setting name="DdnsKey" serializeAs="String">
                <value>Key</value>
            </setting>
        </HeDdnsUpdaterService.Properties.Settings>
    </applicationSettings>
</configuration>
